.manage-products {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    overflow-y: scroll;
}
.edit-products{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    background-color: #F4FFFB;
    width: 70%;   
}
.product-manager-menu{
  
}
.product-manager-menu-content{
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    border: thin solid black;
    padding: 0;

    
}

.product-manager-menu-content li {
    margin-left: 4px;
    padding: 5px;
  
}


.product-manager-menu-content li:hover {
    background-color: #aafad9c9;
    cursor: pointer;

}

