.tags {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    overflow-y: scroll;
}
.edit-tags{
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    background-color: #F4FFFB;
    width: 70%;   
}
